body{
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
    text-shadow: 0px 0px 10px gray;
}

#medialist li span{

    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.icons{
    float:right;
}
.remove{
    width: 20px ;
    height : 20px;
    background-position: 306px 65px;
    display: block;
    background-image: url("../img/glyphicons-halflings.png");
}

#medialist li span:hover{
    background-color: #777;
    color: black;
}

#playlist .path{
    color: red;
}

#playlist .ip{
    color: green;
}

#playlist .addedByServer .ip {
    color: orange;
}

#playlist .date{
    color: blue;
}

form{
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 5px 5px #ddd;
}

form legend{
    font-size: 1.2em;
    font-weight: bold;
}

#uploadProgress{
    width: 100%;
    border: 1px solid black;
}

#about h2 span{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
}

#about .content{
    display: none;
    box-shadow: inset 0 0 5px 5px gold;
    padding: 10px;
}

.leftSide{
    position: fixed;
    
}


#now-playing{
    font-size: 12px;
    border-top: 1px solid #000000;
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
    z-index: 11000;
    background-color: #2C2C2C;
    background: -moz-linear-gradient(top, #333333 0%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333333 0%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333333 0%,#222222 100%); /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */ 
}
.rightSide{
    background-color: #BBBBBB;
    color: #333333;
    float: right;
    font-size: 12px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 41px;
}

.np-albumart{
    display:block;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

#serverStatus::after {
    content: 'Offline';
    color: red;
}

.np-headertext{
    font-size: 10px
}

.np-systext{
    color: #bbbbbb;
    font-size: 12px;
    font-weight: bold;
}
.margin60{

    margin-top: 60px;
}
.np-songinfo{
    float:left;
    margin-top: 4px;
    margin-right: 2px;
    height:45px;
    left:61px;
    top : 5px;
    background:#1b1b1b;
    border:solid 1px #000;
    -webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;border-radius:3px;
}
.np-songtext{
    color : #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}

#serverStatus.online::after {
    content: 'Online';
    color: green;
}

