
.fr {
    float: right;
}

.welcome {
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
}

.welcome #nameHolder {
    color: #F66C00
}

.leftSide {
    overflow: visible;
}

.leftSide #medialist {
    overflow-y: auto;
}

.np-songtext,
.addedBy {
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.addedBy {
    padding: 3px 5px;
    float: left;
}

.container-sd{
    width: 60%;
}

.actionIcons {
    float: right;
}

.actionIcons a{
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.actionIcons a:hover{
    text-decoration: none;
}

.actionIcons .icon-thumbs-up.active {
    color: #5bb75b;
    text-shadow: 1px 1px 3px green;
}

.actionIcons .icon-thumbs-down.active {
    color: #F66C00;
    text-shadow: 1px 1px 3px #F45000;
}

.actionIcons a:before {
    padding-right: 4px;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#alert-container {
    position: fixed;
    top: 20px;
    width: 50%;
    left: 25%;
    z-index: 2000;
}

/*html, body{
    height: 100%;
    padding: 0;
}


body{
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body > * {
    overflow: hidden;
}
}

.navbar {
    height: 10%;
}

.spacer {
    height: 1%;

.containerSection {
    padding-top: 0;
    height: 90%;
    background: #ddd;
}

.containerSection > .row-fluid {
    height: 100%;
}

.containerSection > .row-fluid .playListHolder,
.containerSection > .row-fluid .mediaListHolder {
    height: 100%;
}

.containerSection > .row-fluid .playListHolder {
    background: #999;
}

.containerSection > .row-fluid .mediaListHolder {
    border-right: 1px solid #888;
}


#mediaList, #playList {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    font-size: 12px;
    padding-right: 30px;
}

#mediaList li{
    padding: 3px;
    
}

#playList li {
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 10px rgba(0,0,0, 0.2);
    background: #aaa;
    padding: 5px;
}

#playList li a.voteIcon {
    display: inline-block;
    width: 32px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    float: left;
    color: #444;
}

#playList li .skip {
    display: none;
}

#playList li:first-child {
    background: greenyellow !important; 
}

#playList li:first-child .skip {
    display: block;
}

#playList li .skipIcon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("/img/skip.png") center center no-repeat;
    margin-top: 5px;
}

#playList li a.voteIcon:hover {
    text-decoration: none;
}

#playList li a.voteIcon.up {
    background: url("/img/upVote-d.png") top left no-repeat;
    padding-top: 30px;
    float: left;
}

#playList li a.voteIcon.up.active,
#playList li a.voteIcon.up:hover {
    background-image: url("/img/upVote.png");
    color: green;
}

#playList li a.voteIcon.down.active,
#playList li a.voteIcon.down:hover {
    background-image: url("/img/downVote.png");
    color: red;
}

#playList li a.voteIcon.down {
    background: url("/img/downVote-d.png") bottom left no-repeat;
    padding-bottom: 30px;
}

.mediaListHolder .header {
    height: 10%;
}

.playListHolder .header {
    height: 3%;
    color: #fff;
}


#mediaList {
    height: 80%;
}

#playList {
    height: 87%;
}

#mediaList li,
#playList li {
    list-style: none;
    padding: 5px;
}

#mediaList li {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#mediaList li:hover{
    background-color: #777;
    color: black;
}



.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#playlist .path{
    color: red;
}

.icons{
    float:right;
}
.remove{
    width: 20px ;
    height : 20px;
    background-position: 306px 65px;
    display: block;
    background-image: url("../img/glyphicons-halflings.png");
}

#playlist .ip{
    color: green;
}

#playlist .addedByServer .ip {
    color: orange;
}

#playlist .date{
    color: blue;
}

form{
    margin: 0px;
   /* border: 1px solid black;
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 5px 5px #ddd;
}

form legend{
    font-size: 1.2em;
    font-weight: bold;
}

#uploadProgress {
    border: 1px solid black;
    display: block;
    height: 26px;
    position: absolute;
    top: 6px;
    width: 300px;
}
#uploadFile,#upload{
    visibility: hidden;
    z-index: -1;
    position: absolute;
}

#about h2 span{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
}

#about .content{
    display: none;
    box-shadow: inset 0 0 5px 5px gold;
    padding: 10px;
}

.leftSide{
    position: fixed;
    
}


#nowPlaying{
    font-size: 12px;
    border-top: 1px solid #000000;
    bottom: 0;
    height: 10%;
    left: 0;
    position: fixed;
    right: 0;
    transition: all 0.3s ease 0s;

}

.np-albumart{
    display:block;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

/*#serverStatus::after {
    content: 'Offline';
    color: red;
}

.np-headertext{
    font-size: 10px
}

.np-systext{
    color: #bbbbbb;
    font-size: 12px;
    font-weight: bold;
}
.margin60{

    margin-top: 60px;
}
.np-songinfo{
    float:left;
    margin-top: 4px;
    margin-right: 2px;
    height:45px;
    left:61px;
    top : 5px;
    background:#1b1b1b;
    border:solid 1px #000;
    -webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.05),inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;border-radius:3px;
}
.np-songtext{
    color : #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}


.statusicon {
    display: block;
    float: left;
    left: 4px;
    position: absolute;
    top: 13px;
    color:#ff0000;
}
.online{
    color:#00ff00;
}

*/
